*{
  margin:auto 0;
  padding:auto 0;
}
body{
  background-color:  #f9f9f9;
}
.wraper{
position: relative;
  margin: 0 auto;
  width: 1060px;
  height: 950px;
  background-color: #ffffff;
  /*border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;*/
  box-shadow: 0 2px 5px;
}

.header{
position: absolute;
  left: 45px;
  height: 170px;
  width: 970px;
  background-color: #ffffff;
}
.top-logo{
  position: absolute;
  top: 50px;
}
.top-menu{
  position: absolute;
  left: 45px;
  top: 132px;
  width: 970px;
  height: 38px;
}
.menu-1{
  position: absolute;
  left: 5px;
  top: 141px;
  list-style: none;
  display: inline;
}
.menu-1 li{
  display: inline;
}
.menu-1 li a {
  padding-right: 31px ;
  padding-left: 31px;
  padding-top: 9px;
  padding-bottom: 7px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;

}
.menu-1 li a:hover{
background-color: #484848;
border-right:  2px solid #838383;
border-left:  2px solid #838383;
}
.main{
 position: absolute;
 left: 45px;
  top: 180px;
  width: 970px;
  height: 640px;
  margin: auto;
  background-color: #ffffff;
}
.text{
  display: block;
  position: absolute;
  bottom: 165px;
  left: 360px;
  width: 621px;
  height: 138px;
  font-family: 'Open Sans', sans-serif;
}

.left_menu{
  position: absolute;
  top: 180px;
  left: 45px;
  height: 240px;
  width: 240px;
  background-color: white;

}
.menu-left{
  display: inline;
  list-style: none;
}
.menu-left li{
  display: block;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;

}

.h{
  border-bottom: 1px solid grey;
}

.menu-left li a{
  color: black;
  display: block;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;

}
.menu-left li:hover{
  background-color: #f9f9f9;

}
.menu-left li a:hover{
  padding-left: 15px;
}
.img{
position: absolute;
top: 197px;
left: 335px;
height: 400px;
width: 680px;
background-color: white;
}
.content{
  height: 400px;
  width: 680px;
}
.futter{
  position: absolute;
  bottom:  60px;
  left: 45px;
  height: 38px;
  width: 970px;
  background-color: aqua;
}
.foot{
  height: 38px;
  width: 970px;
}
.menu-bottom{
  position: absolute;
  bottom: 10px;
  padding-left: 0px;
  list-style: none;
}
.menu-bottom li{
  display: inline;
  height: 38px;
}
.menu-bottom li a{
  text-decoration: none;
  padding-right: 31px ;
  padding-left: 31px;
  color: black;
  font-family: 'Open Sans', sans-serif;

}
.menu-bottom li a:hover{
  text-decoration: underline;
}
#copy{
  position: absolute;
  bottom: 10px;
  right: 40px;
  font-family: 'Open Sans', sans-serif;

}
